@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  all: unset; /* 기본 스타일 제거 */
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 부모 요소의 색상 상속 */
  cursor: pointer; /* 링크 느낌 유지 */
}
